*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.datePicker-wrapper{
    background-color: #fff;
    max-width: 350px;
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.7rem 0.7rem 3rem 0.7rem;
    margin: 0.5rem 0;
    box-shadow: 0 0 3px rgb(119, 119, 119);
}
.datePicker-wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem; 
    background-color:dodgerblue;
    border-radius: inherit;
}

.datePicker-current-date{
    /* color: rgb(0, 93, 186); */
    color: white;
    font-weight: bold;
}

.datePicker-wrapper header p{
    font-size: 1.5rem;
    font-weight: bold;
}

.datePicker-change-btn{
    /* background-color: yellow; */
    background:none;
    width: 2rem;
    height: 2rem;
    padding: 2px;
    border-radius: 50%;
    border: none;
}

.datePicker-weeks{
    display: flex;
    text-align: center;
}

.datePicker-days{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.datePicker-weeks li{
    width: calc(100% / 7);
    font-weight: 600;
    /* background-color: dodgerblue; */
    /* color: rgb(52, 190, 176); */
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    border-radius: 4px;
}


.datePicker-days li{
    position: relative;
    width: calc(100% / 7);
    height: 2rem;
    /* background-color: yellow; */
    margin-top: 1rem;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datePicker-days li::before{
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: -1;
}

/* .datePicker-days li:hover::before{
    background-color: #f2f2f2;
} */

.datePicker-days-inactive{
    color: #aaa;
}
.datePicker-days-active::before{
    background-color: dodgerblue;
}

.datePicker-days-active{
    color: white;
}

@media (max-width : 980px){
    .datePicker-wrapper header p{
        font-size: 1.1rem;
    }
    .datePicker-days li{
        height: 1.5rem;
        margin-top: 0.7rem;
    }
    .datePicker-days li::before{
        height: 2rem;
        width: 2rem;
    }
}