@tailwind base;
@tailwind components;
@tailwind utilities;

.landingpage-bg-container{
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is for Chrome and Safari */
.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}
/* This is for Firefox */
.scrollbar-hidden{
    scrollbar-width: none;
}

.text-overflow{
    overflow: hidden;
    --lines : 2;
    --line-height : 1.4;
    max-height: calc(var(--lines)* 1em * var(--line-height));
    line-height: var(--line-height);
    position: relative;
}
